<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Sistema Integrador de Gestión</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	</head>
	<body>
		<header class="Header">
			<nav class="MainMenu">
				<ul class= "MainMenu-list">
					<li class = "MainMenu-item"><a class = "MainMenu-link"  href="#yo">Perfil</a></li>
					<li class = "MainMenu-item"><a class = "MainMenu-link" href="#cursos">Cursos</a></li>
					<li class = "MainMenu-item"><a class = "MainMenu-link" href="#doc">Documentos</a></li>
					<li class = "MainMenu-item"><a class = "MainMenu-link" href="#expe">Expediente</a></li>
					<li class = "MainMenu-item"><a class = "MainMenu-link" href="#iess">Iess</a></li>
					<li class = "MainMenu-item"><a class = "MainMenu-link" href="#report">Reportes</a></li>
					<li class = "MainMenu-item"><a class = "MainMenu-link" href="#vaca">Vacaciones</a></li>
					<li class = "MainMenu-item"><a class = "MainMenu-link" href="#noti">Noticias</a></li>
				</ul>
			</nav>
		</header>
		<section id="yo" class = "Profile">
			<article class="Profile-item">
			<figure class="Profile-imageContainer">
				<h6 class="Profile-title">Bryan Adrián Silva Pincay</h1>
				<img class="Profile-image" src="/avatar.jpg" alt="Imagen Personal"/>
				<figcaption class = "Profile-imageDescription">
					<a class = "Profile-link" href="#user" target="_black">@nameuser</a>
				<figcaption>
			</figure>
			<p class = "Profile-description">todos los datos de la persona</p>
			</article>
		</section >
		<section id="cursos" class ="Course u-title">
			<h2 class="Course-title">Cursos</h2>
			<article class="Course-item">

			</article>
		</section>
		<section id="doc" class ="Doc u-title">
			<h2 class="Doc-title">Documentos</h2>
			<article class="Doc-item">

			</article>
		</section>
		<section id="expe" class = "Record u-title">
			<h2 class="Record-title">Expedientes</h2>
			<article class="Record-item">

			</article>
		</section>
		<section id="iess" class = "Iess u-title">
			<h2 class="Iess-title">Iess</h2>
			<article class = "Iess-item">

			</article>
		</section>
		<section id="report" class = "Report u-title">
			<h2 class = "Report-title">Reporte</h2>
			<article "Report-item">

			</article>
		</section>
		<section id="vaca" class="Vacation u-title">
			<h2 calss="Vacation-title">Vacaciones</h2>
			<article class = "Vacation-item">

			</article>
		</section>
		<footer id="noti" calss = "Footer">
			<h3 class="Footer-title">Noticias</h3>
			<article class = "Footer-item"></article>
		</footer>
	</body>
</html>